*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/*Agregar fuentes*/
 @font-face{
 	font-family: "roboto";
 	/*En caso que no soporte la primera fuente se le puede agregar otra*/
 	scr:url('https://fonts.googleapis.com/css?family=Roboto:400,400italic,500italic,500,700' rel='stylesheet' type='text/css') format('truetype');
 }

body{
	background-color: #ECF0F1;
	font-family: "roboto";
}

.contenedor{
	background-color: #ccc;
	width: 90%;
	/*Para que no se pase de los 1000px de ancho*/
	max-width: 1200px;
	margin: 0 auto;
	/*Propiedades Flex*/
	display: flex;
	flex-flow: row wrap;
}

header{
	background: #fff;
	width: 100%;
	padding: 10px;
	border-bottom: 1px solid #6C7A89;

	/*Propiedades Flex*/
	display: flex;
	/*Va hacer que uno de los elementos se ponga a la izquierda y otro a la derechar*/
	/*En este caso la clase logo a la izquierda y el nav a la derecha*/
	justify-content: space-between;
	align-items: center;
	flex-flow: row wrap;

}

header .logo{
	color:#fff;
	font-size: 30px;
	/*Propiedades Flex*/
	display: flex;
	/*Para que se aline verticalmente */
	align-items: center;
	margin-left: 5%;
}

header .logo img{
	width: 120px;
	
}
 header nav {
 	width: 50%;
 	/*Propiedades Flex*/
 	display: flex;
 	flex-wrap: wrap;
 	align-items: center;
 }

 header nav a{
 	color: #000;
 	text-align: center;
 	text-decoration: none;
 	padding: 10px;
 	/*Propiedades flex*/
 	/*Como son elementos hijos de un padre que tiene display flex 
 	podemos agregarle propiedades de flexbox*/

 	/*Todos van a abarcar el tamaño que necesiten para que tomen el 100%*/
 	flex-grow: 1;
 }

header nav a:hover{
	color:tomato;
}

.main{
	background: #fff;
	padding: 20px;
	/*El primer valor indica shrink la proporción de cuanto crecera el elemento
	El segundo es cuanto se encojeria en proporción a los demás y
	El tercero el width*/
	/*flex: 1;*/
	flex: 1 1 70%
}

.main article{
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #000;
}

.main :nth-last-child(1){
	margin-bottom: 0px;
	padding-bottom: 0px;
	border-bottom: none;
}

aside{
	background: #ccc;
	padding: 20px;
	/*Poropiedades Flex*/
	/*flex: 0 0 300px;*/
	flex:1 1 30%;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	flex-direction: column;
}

aside .widget{
	background: #d35400;
	height: 150px;
	margin: 10px;
}

footer{
	background: #2c3e50;
	width: 100%;
	padding:20px;

	/*Flex*/
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

footer .links {
	display: flex;
	flex-wrap: wrap;
}

footer .links a{
	color:#fff;
	text-decoration: none;
	flex-grow: 1;
	padding: 10px;
	text-align: center;
}

footer .links a:hover{
	color:tomato;
}
footer .social{
	display: flex;
	flex-wrap: wrap;
}
footer .social a{
	color:#fff;
	text-decoration: none;
	padding: 10px;
}

@media screen and (max-width: 800px) {
	.contenedor{
		flex-direction: column;
	}

	header{
		flex-direction: column;
		padding: 0px;
	}

	header .logo{
		/*para que se centre*/
		margin: 20px 0px;
	}

	header nav{
		width: 100%;
	}

	aside{
		flex-direction: row;
		flex:0;
	}

	aside .widget{
		flex-grow: 1;
	}
}

@media screen and (max-width: 600px) {
	aside{
		flex-direction: column;
	}
	footer{
		justify-content: space-around;
	}
	
}